<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render "components/navbar" %>
    <% end %>
    <% if !current_page?(root_path) %>
      <div class="content-page">
        <%= yield %>
        <% if !current_page?(cocktails_path) %>
          <%= render "components/footer" %>
        <% end %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
